{% extends 'base.html' %}

{% block content %}
<h3>Chat Rooms</h3>
<div class="row">
    {% for room in rooms %}
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ room.name }}</h5>
                <p class="card-text">Created by: {{ room.created_by.username }}</p>
                <a href="{% url 'room_detail' room.id %}" class="btn btn-primary w-100">Join Room</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
